
body{
    background-color: bisque;
    margin-left: 15px;
}
h1{
    font-size: 2.5rem;
    text-align: center;
    color: blue;
    text-transform: uppercase;
}
h2{
    font-size: 1.5rem;
    background-color: aqua;
    color: red;
    text-transform: uppercase;
    margin-left: 50px;
    display: inline;
}
h3::before{
    content: "Anotacion! ";
}
h3{
    color: brown;
    font-size: 1.3rem;
}
.lista{
    color: blueviolet;
    text-transform: uppercase;
}