html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
}
/* //////////////////////contenido/////////////////////// */
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-image: linear-gradient(180deg, #EDDFB3 30%, #B09B71 70%);
}
.header__logo{
    flex-basis: 25%;
    border: 1px solid black;
    padding-left: 1rem;
}
.header__logo h1{
    font-size: 2vw;
}

.header__h1{
    flex-basis: 50%;
    align-self: center;
    border: 1px solid red;
    text-align: center;
    font-size: 1.2vw;

}

.header__ol{
    flex-basis: 25%;
    display: flex;
    border: 1px solid yellow;
    justify-content: flex-start;
    flex-grow: 0.3;
    align-items: center;
    padding-left: 1rem;
    gap: 1.3rem;

}
.header__ol li{
  list-style: none;
  font-size: 1vw;
}


.contenedor{
    width: 25rem;
    height: 35rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
}
.contenedor__video{
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.contenedor__video video{
    width: 100%;
    height: auto;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.contenedor__nav{
    width: 100%;
    height: 100%;
    background-color: #272727;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    
}

.fa-download{
    color: rgb(243, 243, 243);
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 45%;
}






@font-face{
    font-family: "chalet";
    src: url(./Smooch-Regular.woff) format("woff");
    font-display: swap;
}
.contenedor2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #EDDFB3 30%, #B09B71 70%);
    display: flex;
}
.contenedor2 h1{
    font-family: "chalet", sans-serif;
    font-size: 24vw;
}








